# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=起来，起来，太阳晒屁股啦... 大家早上好!
    S:OnSleepText=正在入睡
    S:OnWakeText=离开了他们的床
    I:SleeperPerc=1
}


