# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        你知道吗？任务书即是一本百科全书，每一个任务的说明都非常详尽，几乎可以解答你的一切疑问！
        如果你不知道接下来该做什么，那就打开任务书仔细看看吧！
        随着你不断前往新的维度，你能获取越来越强的装备，也能制作越来越便利的辅助物品。
        不完成特定的任务，你将无法推进游戏进度，因此你需要自仔细阅读任务。
        你被床暗杀的概率很小，但绝不是0。
        在探索中，你会遇到各样的建筑，它们中可能藏匿着非常丰富的宝藏。
        矿洞中充满了刷怪笼与陷阱，这将使得闷头挖矿变得十分艰难。
        幽灵状态的你可以骗过生物，但无法骗过陷阱。
        刷怪笼会在刷出一定数量的生物之后自行摧毁，但矿洞中的刷怪笼不会。
        你的家被陨石砸到的概率很小，但绝不是0。
        温泉具有免疫高温、生命回复的效果。
        地牢的奖励十分丰厚，但要挑战它需要做足充分准备……但也许，你的目标只是开箱子，不是吗？
        战斗高塔傀儡有很低的概率把自己炸飞。
        亡灵生物具有在白天自燃的特点，这也是一些生物一到白天就消失的原因。
        尽管灵视不足会使得你无法看懂一些物品，但这并不影响你使用、合成它。
        你需要搭配你的食物，从而获得最佳饱食度恢复。
        四季变化会让温度波动更大，你最好在夏季或者冬季来临前做足准备，否则极端的天气会让你苦不堪言。
        神农尝百草，日遇七十二毒，得茶而解之。
        尽管你可以利用气泡水做水电梯，但是因为没有海带，你只能借助倒水来增加电梯高度。
        干草块看上去很硬，但其实非常柔软。
        掉落在地上的树苗会自动补种，掉落在耕地上的农作物也是。
        存储网络非常方便，但是它依赖对箱子的使用，仓库区块的卸载会使得存储网络离线。
        箱子、熔炉的升级装置都需要潜行右键来使用。
        潜影盒是游戏内唯一的“背包”。
        无论你打出多少伤害，试验假人都不会有任何问题。
        当装备附魔过多时，铁砧会提示过于昂贵以阻止你继续附魔，但钻石砧不会。
        多人游戏时，不同玩家的进度系统可能不会同步，这可能会影响游戏的推进。
        饰品可以获得双重词条加成，这使得饰品属性的加成异常强大。
        龙壶非常强大，任何被装入的水都会变成纯净水。
        升级工具会提升耐久、挖掘速度、挖掘等级，尽管它们的伤害似乎降低了。
        远古残骸在它生成的高度区间没有重点，到处都可以挖到。
        QE菜单其实是键盘按键的另一种操作方式。
        如果你感觉难度突增，那说明你需要检查自己的武器、盔甲是不是升级到了最高水平。
        你需要制作龙套或海蟒套才可前往下界。
        你需要制作下界合金套才可进前往末地。
        完成进度便可获取称谓，但并非所有的进度都会给予你称谓。
        称谓的稀有程度与它的颜色挂钩。
        多人游玩会让游戏更加轻松。
        不做万全之准备，挑战BOSS只会让你死无葬身之地，也许一个钻石苹果就能让你扭转战局。
        当你完成游戏终局内容时，你便可以制作商店，来购买材料或者兑换一些有趣的物品。
        挑战BOSS的任务会奖励大量经验值，任务可以重复进行。
        不完成对应的任务，你将无法查看下一个维度的攻略任务。
        末影技能中，技能等级和经验消耗都是完全线性增长的。
        在末影技能中，强力的技能升级会越来越昂贵，以至于你需要更多的挑战BOSS获得经验。
        末影技能的伤害减免是凌驾于盔甲曲线之上的强力属性。
        你可以在末影技能中将部分抗性提升至完全免疫来使自己节省一个饰品栏。
        铁砧会使得附魔惩罚变高，使得物品在钻石砧上仍有较高的成本。
        部分物品需要制作才能触发任务，来路不当的东西可不行哦！
        所有的刷怪笼都无法被封印。
        虽然蓝图可以帮你建设很多建筑，但是野外的建筑也有自己独特的风格。
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


